.icons {
  font-size: 1rem;
  margin-top: 2rem;
  animation: moveleftX 1.5s forwards ease-in-out;
}
.icons1 {
  font-size: 1rem;
  margin-top: 2rem;
  animation: moverightX 1.5s forwards ease-in-out;
}

.about-txt {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 0 11rem;
  line-height: 1.6;
  text-align: center;
}

.skills {
  text-align: left;
  line-height: 1.2;
}

.Skills-items {
  font-size: 1.2rem;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 30s cloud-fall infinite alternate ease-out;
}

@media screen and (max-width: 500px) {
  .hero-img {
    width: 50%;
    margin-top: 6rem;
    margin-bottom: 0;
  }

  .skills {
    font-size: 1rem;
    padding: 0 30px;
  }
}


@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-fall {
  0% {
    transform: rotate(180deg) translate(0, 50px);

  }

  100% {
    transform: translate(450px, 50px) scale(1.5);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveleftX {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes moverightX {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}