.contact-container {
  text-align: center;
  margin-top: 1rem;
  padding: 133px 0;
}

.contact {
  left: 0;
  text-align: left;
  overflow: hidden;
}

.home, .email, .phone{
  width: 300px;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 500;
}

.email a, .phone a, span{
  text-decoration: none;
  font-weight: 500;
}