@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --Primary-Color-2: #102C56;
  --background-color: #000000;
  --Primary-Color-3: #F2F2F2;
  --active-color: #FFA500;
}

.bg {
  background-color: var(--background-color);
  color: var(--Primary-Color-3);
  padding: 2px;
  height: 7vh;
}

.web-logo {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  justify-self: center;
  margin-top: 10px;
}
