@import 'bootstrap/dist/css/bootstrap.min.css';

.nav {
  gap: 20px;
  font-size: 18px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  transition: 0.5s ease-in-out;
}

.nav-link:hover {
  border-radius: 5px;
  text-decoration: none;
}

.web-logo {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  justify-self: center;
  margin-top: 10px;
}


@media screen and (max-width: 500px) {
  .nav {
    max-width: max-content;
    font-size: 15px;
    gap: 0.5px;
  }

  .web-logo {
    display: none;
  }

  .owner-name {
    font-size: 18px;
  }
}
