:root {
  --Primary-Color-2: #102C56;
  --Primary-Color-3: #F2F2F2;
  --background-color: #548ADC;
}

.App {
  text-align: center;
  background-color: var(--Primary-Color-2);
  color: var(--Primary-Color-3);
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
}
