@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --background-color: #011b43;
  --border-color: #272727;
}

.main {
  min-height: 100%;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  overflow: hidden;
}

a {
  color: var(--background-color);
}

.hero-image {
  height: 100vh;
}

.hero-picture {
  width: 100%;
}

.intro-text {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
  left: 0;
}

.content {
  position: absolute;
  top: 0;
  margin-top: 10rem;;
  font-size: 1.2rem;
}

.hero-text {
  position: absolute;
  margin-top: 0;
  justify-content: start;
  align-items: start;
  top: 0;
}

.social-link {
  margin-top: 17rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 60px;
 }

 .card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: transform 0.3s  ease-in-out;
  width: 400px;
  height: 540px;
  grid-template-columns: subgrid;
}

.card:hover {
  transform: scale(1.01);
}

.video, .card-img {
  width: auto;
  height: 50%;
  object-fit: cover;
}

.card-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: subgrid;
  padding: 5px 20px;
}

.card-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.view-project {
  margin-right: -20rem;
}

.h2-text {
  margin-left: -20rem;
}

@media screen and (max-width: 500px) {
  .main {
    margin-top: 6rem;
    padding: 0 5px;
    text-align: center;
  }

  .hero-image {
    height: 100vh;
    margin: 1rem;
  }

  .hero-picture{
    margin-bottom: 11rem;
  }

  .intro-text {
    height: 100%;
    justify-content: center;
    padding-bottom: 15px;
  }

  .content {
    margin-top: -20rem;
    font-size: 1rem;
  }

  .hero-text {
    margin-top: -26rem;
    font-size: 24px;
  }

  .social-link {
    margin-top: 0;
    justify-content: center;
  }

  .recent-project {
    margin: 4rem;
  }

  .card-wrapper {
    grid-template-columns: auto;
    padding: 0 80px;
  }

  .view-project {
    margin-right: -6rem;
  }
  
  .h2-text {
    margin-left: -6rem;
  }

}

