@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --Primary-Color-2: #102C56;
  --Primary-Color-3: #F2F2F2;
  --background-color: #548ADC;
  --active-color: #FFA500;
  --font-size: 16px;
}


.main {
  padding: 160px 150px;
  margin-bottom: 4.5rem;
  justify-content: center;
  align-items: center;
  font-family: Roboto Condensed;
  overflow: hidden;
}

img {
  width: 50%;
  margin-bottom: 20px;
}

a {
  color: var(--background-color);
}

.intro-text {
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 100px 20px;
    text-align: center;
  }

  img {
    width: 50%;
  }
}

@media screen and (max-width: 980px) {
  .main {
    padding: 100px 20px;
    text-align: center;
  }

  img {
    width: 50%;
  }

  .intro-text {
    width: 100%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 100px 20px;
    text-align: center;
  }

  img {
    width: 50%;
  }

  .intro-text {
    width: 100%;
    font-size: 1.2rem;
  }
}